body{
  font-family: Helvetica;
  text-align: center;
  background-color: white;
}

/*Ask how to make background image the same as the example*/
.banner{
  background-image: url("../images/the-flatiron-building.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner ul{
  list-style: none;
}

.banner a{
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.title{
  font-size: 70px;
  color: white;
}

.header{
  font-size: 32px;
  font-weight: bold;
}

.step{
  font-size: 23px;
  font-weight: bold;
}

.step-description{
  font-size: 14px;
}
