body{
  font-family: Helvetica;
  text-align: center;
  background-color: white;
}

.banner{
  background-image: url("../images/the-flatiron-building.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner ul{
  list-style: none;
}

.banner a{
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.title{
  font-size: 70px;
  color: white;
}
